body {
  background-color: aqua;
}
.joinRoomBox {
  background-color: rgb(28, 46, 212);
  border: 12px solid rgb(45, 37, 158);
  width:33%;

}
.StartScreen {
  height: 100%;
  width: 100%;

}
.CenterForm {
  text-align: center;
  flex-direction: column;
}
.Box {
  background-color: rgb(37, 158, 37);
  border: 12px solid rgb(37, 158, 37);
  border-radius: 12%;
  width: 67%;

}
.CenterBox {
  position: absolute;
  display:flex;
  top: 25%;
  left: 25%;
  height: 50%;
  width: 50%;
}


.Title {
  text-align: center;
  display: flex;
  justify-content: center;

}
.LoginBox {
  background-color: rgb(28, 46, 212);
  border: 12px solid rgb(45, 37, 158);
  border-radius: 12%;
  width:33%;

}
